
  <hr>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Login</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <th>{{ user.name }}</th>
        <td>{{ user.last_login }}</td>
        <td>{{ user.email }}</td>
        <td><a class="btn btn-primary btn-sm" routerLink="/form/{{ user.id }}">Edit</a>
          <a class="btn btn-primary btn-sm btn-danger" (click)=delete(user.id)>Delete</a>
        </td>
      </tr>
    </tbody>
  </table>