
  <hr>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Login</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.email }}</td>
        <td><a class="btn btn-primary btn-sm" routerLink="/form">Edit</a>

        </td>
      </tr>
    </tbody>
  </table>
